:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h5 {
  margin-bottom: 0.5rem;
}

.hero-section {
  background-image: linear-gradient(180deg, #00d7df, #ff9dc1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 600px;
  min-height: 500px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 20rem;
  width: 60%;
  height: auto;
  padding: 1.5rem;
  background-image: linear-gradient(180deg, #ff76c6ea, #16a0a0);
  border-radius: 3px;
  box-shadow: 0 5px 15px 0 #3b7fcc;
}

.card--header {
  width: 100%;
  min-height: 100px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  color: #f5f5f5;
  text-align: center;
  padding-top: 1rem;
}

.card--header .card--header--title .card--header--title_placename h1 {
  font-size: 2rem;
}

.card--header .card--header--title .card--header--title_placename h2 {
  font-size: inherit;
}

.card--header .card--header--title .card--header--title_clock h2 {
  font-size: 2rem;
  letter-spacing: 2px;
}

.card--header .card--header--temp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.card--header .card--header--temp .card--header--temp_icon img{
 width: 70px;
 margin-right: 1rem;
}

.card--header .card--header--temp .card--header--temp_Value{
  font-size: 5rem;
  font-weight: bold;
 }

.card--content {
  width: 100%;
  min-height: 100px;
  /* background-color: #ffffff31; */
}

.card--content .card--content--daily {
  font-size: 1.8rem;
  color: #ffffff;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #f0f0f09d;
}

.card--content .card--content--daily .card--content--daily_date {

}

.card--content .card--content--daily .card--content--daily_temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--content .card--content--daily .card--content--daily_temp div img {
  width: 30px;
  margin-right: 1.5rem;
}

.card--content .card--content--daily .card--content--daily_temp .temp_max {
  margin-right: 0.8rem;
}

.card--content .card--content--daily .card--content--daily_temp span[class^=temp] {
  font-size: 20px;
}

.card--content .card--content--daily .card--content--daily_temp span[class^=temp]:last-child {
  color: #ffffff83;
}

.card--header--temp-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff31;
  padding: 1rem;
  border-top: 2px solid #f0f0f0;
  width: 100%;
}

.card--header--temp-details_temp {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center
}

.card--header--temp-details .card--header--temp-details_temp .sub-card {
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  align-items: center;
  margin-right: 1.5rem;
}

.card--header--temp-details .card--header--temp-details_temp .sub-card:last-child {
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  align-items: center;
  margin-right: 0rem;
}

.card--header--temp-details .card--header--temp-details_temp .sub-card * {
  margin-bottom: 0.5rem;
}

.card--header--temp-details .card--header--temp-details_temp .sub-card img {
  width: 2.5rem;
}

.card--header--input {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
}
.card--header--input .input-search {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  font-size: 1.5rem;
  background-color: #ffffff31;
  border: none;
  outline: none;
  border-bottom: 1px solid #f0f0f0;
}

.card--header--input .input-search::placeholder {
  color: #ffffff;
}

.search-result-container {
  position: absolute;
  width: 100%;
  display: none;
  background-color: #f0f0f0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.result-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  border-bottom: 1px solid #959595;
  color: #757575;
  padding: 0.5rem;
  transition: all 0.25s;
}
.result-card:hover {
  background-color: #c7c7c7;
  transition: all 0.25s;
  cursor: pointer;
}

.result-card div {
  padding: 0.5rem 0;
}

.result-card div span[class^=result-card--d] {
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

.block {
  display: block;
}